// colors
$error: #fc9c9c;
$success: #a4e8a4;

// blocks
$bgColorMain: #f0f0f0;
$textColorMain: #333333;

$bgColorMain_2: #303b44;
$textColorMain_2: #ffffff;

$bgColorSection: #ffffff;
$textColorSection: #333333;
$borderColorSection: #929ca5;

// breakpoints
$breakpoint-sm: 768px;
$breakpoint-lg: 1024px;
