@use '/src/app/styles/variables' as *;

.textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;

  &[readonly] {
    &:active,
    &:focus-visible {
      outline: none;
    }
  }
}

.default {
  border: 1px solid $borderColorSection;
}
